QMainWindow {
background: transparent url("resources/02.png");
/*background: rgb(255, 245, 245);*/
background-position: center;
background-clip: content;
}

QPushButton, QTextBrowser {
background-color: rgb(250, 200, 200);
}
